---
import { email } from '@config';

interface Props {
  isHome?: boolean;
}

const { isHome = false } = Astro.props;
---

<div class={`side side-left${isHome ? ' is-home' : ''}`}>
  <div class="link-wrapper">
    <a href={`mailto:${email}`}>{email}</a>
  </div>
</div>

<style>
  .side {
    width: 40px;
    position: fixed;
    bottom: 0;
    color: var(--light-slate);
    z-index: 10;
  }
  .side-left {
    left: 40px;
  }
  @media (max-width: 1080px) {
    .side-left { left: 20px; }
  }
  @media (max-width: 768px) {
    .side { display: none; }
  }

  .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .link-wrapper::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
  .link-wrapper a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transition: var(--transition);
  }
  .link-wrapper a:hover,
  .link-wrapper a:focus {
    transform: translateY(-3px);
  }
</style>
