---
import BaseLayout from '@components/layout/BaseLayout.astro';
---

<BaseLayout title="404 - Page Not Found">
  <main>
    <h1 class="big-heading">404</h1>
    <p class="subtitle">The page you&rsquo;re looking for doesn&rsquo;t exist.</p>
    <a href="/" class="button-big">Go Home</a>
  </main>
</BaseLayout>
